#pragma once
#include "Core/Meta/Reflection/Refl.h"
#include "{{parsed_filename}}"

namespace Zafkiel::Reflection 
{
inline void Register_{{refl_func_name}}() 
{
    {{#enums}}
    {{{enum}}} 
    {{/enums}}

    {{#classes}}
    {{{class}}}
    {{/classes}}
}
}